
<script type="text/javascript">
$(document).ready(function(){    
    //Check if the current URL contains '#'
    if(document.URL.indexOf("#")==-1){
        // Set the URL to whatever it was plus "#".
        url = document.URL+"#";
        location = "#";

        //Reload the page
        location.reload(true);
    }
});
</script>

<h4><% @mods.each do |mod| %>
<% modl = '/' + '?urn=' + mod.urn %>
<a href=<%= modl %>><%= mod.title %></a><br>
<% end %></h4>
