    <% if @status == "noview" %>
	  	<h4> Please select a user for a viewable! <a href=<%= '/home'%> style="text-decoration: none"> Go back Home </a> </h4>
	<% elsif  @status == "judge" %>
	
	<% else %>
		<% if @mods.count == 0 %>
			<h4>You have not stored any URNs yet! Translate and store URNs by going to <a href=<%= '/upload'%> style="text-decoration: none"> Upload </a> </h4>
		<% end %>
			<h4><% @mods.each do |mod| %>
			<a href=<%= '/' + '?urn=' + mod.urn %> style="text-decoration: none"><%= mod.title %></a><br>
			<% end %></h4>
	<% end %>

